.main {
  padding: 8px 30px 8px 30px;
  border-radius: 9px;
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  text-align: center;
}